<template>
    <hsc-window-style-metal>
        <hsc-window
            :isOpen.sync="isOpen"
            :resizable="true"
            :isScrollable="true"
            :minWidth="200"
            :minHeight="200"
            :maxWidth="300"
            :maxHeight="600"
            title="Dice Roller"
        >
            <RollLog />
            <DiceRoller />
            <br />
            <a href="https://skizzerz.net/DiceRoller/Dice_Reference">Dice Formula How To</a>
        </hsc-window>
    </hsc-window-style-metal>
</template>

<script lang="ts">
import DiceRoller from './DiceRoller.vue';
import RollLog from './RollLog.vue';

export default {
    components: {
        DiceRoller: DiceRoller,
        RollLog: RollLog,
    },
};
</script>
